body,td {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
body {
	background-color: #CCCCCC;
	/*background-image: url();*/
}
a {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
.logoHeader {
	background-image: url(http://www.paneldeopiniones.com/pages/Images/logo_2.jpg);
	background-repeat: no-repeat;
	height: 65px;
	width: 170px;
}