<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="false">

    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="file" value="./log4j.log" />
        <param name="append" value="true" />
        <param name="bufferedIO" value="false" />
        <!--<param name="DatePattern" value="'.'yyyy-MM-dd"/>-->

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] %m%n" />
        </layout>
    </appender>
 

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] %m%n" />
        </layout>
    </appender>

    <logger name="ar" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org" additivity="false">
        <level value="error" />
        <appender-ref ref="STDOUT" />
    </logger>


    <root>
        <level value="ERROR" />
        <appender-ref ref="STDOUT" />
    </root>

    <!-- hibernate 3 log categories
        org.hibernate.SQL   Log all SQL DML statements as they are executed
        org.hibernate.type  Log all JDBC parameters
        org.hibernate.tool.hbm2ddl  Log all SQL DDL statements as they are executed
        org.hibernate.pretty    Log the state of all entities (max 20 entities) associated with the session at flush time
        org.hibernate.cache Log all second-level cache activity
        org.hibernate.transaction   Log transaction related activity
        org.hibernate.jdbc  Log all JDBC resource acquisition
        org.hibernate.hql.ast.AST   Log HQL and SQL ASTs during query parsing
        org.hibernate.secure    Log all JAAS authorization requests
        org.hibernate   Log everything (a lot of information, but very useful for troubleshooting)        
    -->

</log4j:configuration>
